body {
  background: #f5f5f5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: black;
}

.navbar h2 {
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

.container {
  width: 90%;
  margin: auto;
  padding: 20px;
}

.form-container {
  width: 400px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 15px;
  padding: 10px;
}

button {
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.cars-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.car-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
}

.car-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.reservation-card {
  background: white;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
}


/* ========================= */
/* LOADER */
/* ========================= */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #ddd;
  border-top: 5px solid black;
  border-radius: 50%;

  animation: spin 1s linear infinite;
}

/* animation rotation */
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}


.logout-btn {
  margin-left: 15px;

  padding: 8px 15px;

  background: red;

  color: white;

  border: none;

  cursor: pointer;

  border-radius: 5px;
}


.reserve-form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reserve-form input {
  padding: 8px;
}

.available {
  color: green;
  font-weight: bold;
}

.not-available {
  color: red;
  font-weight: bold;
}

.paid-text {
  color: green;
  font-weight: bold;
}